{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <h1>Регистрация</h1>
    
    <form method="POST" action="{{ url_for('register') }}">
        <div class="form-group">
            <label for="username">Введите имя пользователя:</label>
            <input type="text" id="username" name="username" required>
        </div>
        
        <div class="form-group">
            <label for="password">Придумайте пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>
        
        <button type="submit" class="btn">Зарегистрироваться</button>
    </form>
    
    <p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Войдите</a></p>
</div>
{% endblock %}
